.simpleSearch {
    flex-basis: 440px;
    padding: 16px 14px;
    display: flex;
    justify-content: space-between;
}
.input-field {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.slider {
    flex-grow: 2;
}

label {
    margin-bottom: 5px;
}