<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mieszkando-db" value="vps561493.ovh.net:8084:admin:admin" />
    <add key="database-request-time-limit-seconds" value="900" />
    <add key="http-client-protocol" value="http" />
    <add key="tomtom-api-key" value="DBECDIBEGT075QP4l7bm3Np9iw7y5uW4" />
    <add key="tomtom-api-base-url" value="https://api.tomtom.com/search/2/" />
  </appSettings>
</configuration>